<section class="gernal upcoming_tabl">
  <div class="container">
    <h2>Public Products</h2>   
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="<%=product.image.url%>" alt="Lights" style="width:100%">
              <div class="caption">
                <p><%=truncate(product.description,length: 100 ) %></p>
              </div>
            </a>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>